/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

/* CSS Variables */
:root {
  --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  top: -115px;
}

/* Navigation Bar: Logo and Image */
#logo {
  margin: 5px 10px;
}

#logo img {
  width: 130px;
  height: 130px;
  margin: 20px 20px;
  border: 5px solid black;
}

/* Navigation Bar: List Styling */
#navbar {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px;
}

#navbar ul {
  display: flex;
  /* background: rgb(7, 7, 7); */
  /* border: 2px solid black; */
  border-radius: 10px;
}

#navbar:before {
  content: "";
  background-color: black;
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.4;
}

#navbar ul li {
  list-style: none;
  font-size: 1.5rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 5px 10px;
  border-radius: 25px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}
.right {
  /* border: 5px solid rgb(6, 5, 6); */
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 16px;
}

.bt {
  border: 4px solid rgb(14, 13, 13);
  cursor: pointer;
  background: #c3a8a8;
  width: 112px;
  height: 33px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10px;
}

.bt:hover {
  background-color: rgb(97, 97, 97);
  color: white;
}
/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 35vh;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#home:before {
  content: "";
  background: url(background.jpg) no-repeat center center/cover;
  position: absolute;
  height: 85%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.89;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#home h1 {
  color: black;
  text-align: center;
  margin: 20px;
  font-size: 1.5rem;
}

/* utility Classes */
.h-primary {
  font-size: 2.8rem;
  padding: 12px;
  text-align: center;
  color: black;
  margin: 10px;
}

.h-secondary {
  font-size: 1.2rem;
  text-align: center;
  padding: 12px;
}
#home p{
  font-size: 1em;
  color: black;
}
#home h1{
  margin: 15px;
}

/* Services Section */
#service {
  margin: 45px 140px;
  /* border: 2px solid black; */
  /* height: auto; */
  display: flex;
  flex-wrap: wrap;
}


/* Clients Section */
#client-section {
  height: 450px;
  margin: 34px;
}
#client-section::before {
  content: "";
  position: absolute;
  background: url(veges.jpg) no-repeat center center/cover;
  width: 100%;
  height: 400px;
  z-index: -1;
  opacity: 0.4;
}
#clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.client-item {
  padding: 34px;
}
#clients img {
  height: 130px;
  border: 2px solid black;
}
/* contact section */
#contact {
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: url(contact.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 34px;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.1rem;
  border: 4px solid black;
}

#contact-box form {
  width: 40%;
}
#contact-box label {
  font-size: 1.3rem;
  font-weight: bold;
}
footer {
  background: black;
  color: white;
  padding: 9px 20px;
}
.box {
  width: 250px;
  height: 250px;
  overflow: auto;
  scrollbar-width: none;
  border: 5px solid maroon;
  border-radius: 25px;
  margin: 3px 6px;
  padding: 20px;
  background-color: rgb(197, 191, 191);
}
.box p {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* .box2 {
    height: 300px;
    width: auto;
    border: 5px solid maroon;
    margin: 3px 6px;
    padding: 30px;
    background-color: rgb(197, 191, 191);
} */

.box img {
  width: 160px;
  height: 160px;
  margin: auto;
  display: block;
  border: 4px solid rgb(67, 67, 69);
}

.box2 img {
  width: 170px;
  height: 120px;
  border: 4px solid rgb(109, 108, 107);
  margin: auto;
  display: block;
}

.btn {
  padding: 5px 10px;
  border: 3px solid black;
  background-color: brown;
  color: white;
  margin: 10px;
  font-size: 1.1rem;
  border-radius: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: brown;
  font-weight: bold;
}

.btt {
  padding: 7px 15px;
  border: 4px solid black;
  background: #2b1cf6;
  color: white;
  margin:10px 10vw;
  width: 200px;
  font-size: 1.3rem;
  border-radius: 15px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btt:hover{
  background-color: white;
  color: #2b1cf6;
  font-weight: bold;
}
.center {
  text-align: center;
  overflow: auto;
}

